/*font-family: 'Philosopher', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Philosopher&display=swap');
/*font-family: 'Alegreya Sans SC', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
/*font-family: 'Montserrat Alternates', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');



body
    {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     font-size: 95%;

     color: #333;
     line-height: 1.6;
    }
*,
*:before,
*:after
    {
     box-sizing: border-box;
    }

h1,h2,h3,h4,h5,h6
    {
     margin: 0;
    }



/*intro*/
.intro
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100vh;
     background: url(Photo/Background/1.jpg) center no-repeat;
     background-size: cover;
    }

.intro__inner
    {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
    }

.intro__suptitle
    {
     font-size: 150%;
     font-family: 'Montserrat Alternates', sans-serif;
     text-align: left;
     color: #C0C0C0;
     text-indent:115px
    }

.intro__title
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 70px;
     font-weight: 30px;
     text-transform: uppercase;
     text-align: left;
     line-height: 1;

     color: #C0C0C0;
    }

.intro__title:after
    {
     content: "";
     display: block;
     width: 675px;
     height: 50%;

     background-color: #C0C0C0;
    }



/*container*/
.container
    {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
    }



/*header*/
.header
    {
     width: 100%;
     padding-top: 30px;
     position: absolute;

     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
    }

.header__inner
    {
     display: flex;
     justify-content: space-between;
     align-items: center;
    }

.header__logo
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 30px;
     font-weight: 700;

     background: url(Photo/Background/Logo.jpg);
     color: transparent;
     -webkit-background-clip: text;
     animation: animate 10s infinite ease-in-out;
    }   



/*nav*/
.nav
    {
     font-size: 14px;
     text-transform: uppercase;
    }

.nav__link
    {
     font-family: 'Philosopher', sans-serif;
     display: inline-block;
     vertical-align: top;
     margin: 0 10px;
     position: relative;

     color: #C0C0C0;
     text-decoration: none;
     transition: color 0.1s linear;
    }

.nav__link:after
    {
     content: "";
     display: block;
     width: 100%;
     height: 3px;

     background-color: #fce38a;
     opacity: 0;

     position: absolute;
     top: 100%;
     left: 0;
     z-index: 1;

     transition: opacity 0.1s linear;
    }

.nav__link:hover
    {
     color: #fce38a;
    }

.nav__link:hover:after
    {
     opacity: 1;
    }



/*btn*/
.btn
    {
     display: inline-block;
     vertical-align: top;
     padding: 8px 30px;

     border: 3px solid #C0C0C0;

     font-size: 14px;
     font-weight: 700;
     color: #C0C0C0;
     text-transform: uppercase;
     text-decoration: none;
     position: relative;
     top: 15px;
     left: 220px;

     transition: background 0.1s linear, color 0.1s linear;
    }

.btn:hover
    {
     background-color: #C0C0C0;
     color: #333;
    }



/*keyframes*/
@keyframes animate
    {
     from
        {
         background-position: 0 0;
        }      
     to 
        {
         background-position: 100% 100%;
        }
    }



/*section*/
.section
    {
     padding: 80px;
    }

.section__header
    {
     width: 100%;
     max-width: 950px;
     margin: 0 auto 40px;

     text-align: center;
    }

.section__suptitle
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 24px;
     color: #333;
    }

.section__suptitle
    {
     font-size: 40px;
     font-weight: 700;
     color: #333;
     text-transform: uppercase;
     text-shadow: 1px 1px 2px black, 0 0 1em #white;
    }



/*scroll*/
.slider 
    {
     z-index: 9;
     width: 700px;
     height: 600px;
     overflow: hidden;
     margin: 0 0 7px;
     position: relative;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.82);
    }

.slider ul, .slider li 
    {
     padding: 0;
     margin: 0;
     list-style-type: none;
    }

.slider ul 
    {
     width: 9999px; 
    }

.slider ul li 
    {
     list-style-type: none;
     float: left;
     width: 700px;
     height: 290px;
    }

.slider .nav 
    {
     position: absolute;
     left: 15px;
     bottom: 12px; 
    }

.slider .nav span 
    {
     opacity: 0.9;
     background: #fff;
     margin: 0 8px 0 0;
     width: 16px;
     height: 16px;
     border-radius: 8px;
     cursor: pointer;
     overflow: hidden;
     display: block;
     float: left;
     box-shadow: 0 1px 2px #000;
    }

.slider .nav span.on 
    {
     background: #2e9419;
    }



/*learn_more*/
.intro_more
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100vh;
     background: url(Photo/Background/2.jpg) center no-repeat;
     background-size: cover;
    }

.intro__inner_more
    {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
    }

.container_more
    {
     width: 100%;
     max-width: 700px;
     margin: 10% 45% auto;
    }

.intro__suptitle_more
    {
     font-size: 28px;
     font-family: 'Philosopher', sans-serif;
     text-align: right;
     color: #fff;
     text-indent:160px
    }

.btn_more
    {
     display: inline-block;
     vertical-align: top;
     padding: 8px 30px;

     border: 3px solid #fff;

     font-size: 14px;
     font-weight: 700;
     color: #fff;
     text-transform: uppercase;
     text-decoration: none;
     position: relative;
     top: 15px;
     left: 260px;

     transition: background 0.1s linear, color 0.1s linear;
    }

.btn_more:hover
    {
     background-color: #fff;
     color: #333;
    }

.icons_more
    {
     top: 15px;
     margin-left: 225px; 
    }


/*anchor*/
.anchor
    {
     height:100vh;
    }

#slider_phone
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100vh;
     background: url(Photo/Background/5.jpg) center no-repeat;
     background-size: cover;
    }


/*contacts*/
.intro_contacts
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100vh;
     background: url(Photo/Background/3.jpg) center no-repeat;
     background-size: cover;
    }

.intro__inner_contacts
    {
     max-width: 800px;
     margin-left:650px;
    }

.container_contacts
    {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
    }

.intro__header_contacts
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 28px;
     font-weight: 30px;
     text-transform: uppercase;
     text-align: center;
     line-height: 1;

     color: #000;
    }

.intro__title_contacts
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 18px;
     font-weight: 30px;
     text-transform: uppercase;
     
     line-height: 1;

     color: #000;
    }

.intro__suptitle_contacts
    {
     font-size: 19px;
     font-family: 'Alegreya Sans SC', sans-serif;
     text-align: left;
     color: #000;
     text-indent:160px
     margin: 0 auto;
    }

.btn_contacts
    {

     display: inline-block;
     vertical-align: top;
     padding: 8px 30px;

     border: 3px solid #000;

     font-size: 14px;
     font-weight: 700;
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     position: relative;
     top: 15px;
     left: 160px;

     transition: background 0.1s linear, color 0.1s linear;
    }

.btn_contacts:hover
    {
     background-color: #000;
     color: #fff;
    }



/*account-1*/
.intro_account_1
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100vh;
     background: url(Photo/Background/6.jpg) center no-repeat;
     background-size: cover;
    }

.form_account_1
    {
     margin-left: 750px;
     width: 450px;
     height: 500px;
    }

.group_account_1
    {
     margin: 10px;
     padding: 5px;
    }

.label_account_1
    {
     padding-left: 20px;
     text-transform: uppercase;
     font-size: 18px;
     font-family: 'Cinzel', serif;
     text-align: left;
     color: #000;
     text-indent:160px
     margin: 0 auto;
    }

.input_account_1
    {
     padding-left: 50px;
     margin-top: 10px;
     height: 40px;
     width: 450px;
     border-radius: 12px/12px;
     border: none;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
    }

.input_account_1:hover
    {
     border: 2px solid #000; 
    }

.intro__header_account_1
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 31px;
     font-weight: 30px;
     text-transform: uppercase;
     text-align: center;
     line-height: 1;

     color: #000;
    }

.btn_account_1
    {
     display: inline-block;
     vertical-align: top;
     padding: 8px 30px;
     cursor: pointer;

     border: 3px solid #000;

     font-size: 14px;
     font-weight: 700;
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     position: relative;
     top: 15px;
     
     transition: background 0.1s linear, color 0.1s linear;
    }

.btn_account_1:hover
    {
     background-color: #000;
     color: #fff;
    }



/*account-2*/
.intro_account_2
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100vh;
     background: url(Photo/Background/4.jpg) center no-repeat;
     background-size: cover;
    }

.form_account_2
    {
     margin-left: 750px;
     width: 450px;
     
    }

.group_account_2
    {
     margin: 10px;
     padding: 5px;
    }

.label_account_2
    {
     padding-left: 20px;
     text-transform: uppercase;
     font-size: 18px;
     font-family: 'Cinzel', serif;
     text-align: left;
     color: #000;
     text-indent:160px
     margin: 0 auto;
    }

.input_account_2
    {
     padding-left: 50px;
     margin-top: 10px;
     height: 40px;
     width: 450px;
     border-radius: 12px/12px;
     border: none;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
    }

.input_account_2:hover
    {
     border: 2px solid #000; 
    }

.intro__header_account_2
    {
     font-family: 'Philosopher', sans-serif;
     font-size: 31px;
     font-weight: 30px;
     text-transform: uppercase;
     text-align: center;
     line-height: 1;

     color: #000;
    }

.btn_account_2
    {
     display: inline-block;
     vertical-align: top;
     padding: 8px 30px;
     cursor: pointer;

     border: 3px solid #000;

     font-size: 14px;
     font-weight: 700;
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     position: relative;
     top: 15px;
     
     transition: background 0.1s linear, color 0.1s linear;
    }

.btn_account_2:hover
    {
     background-color: #000;
     color: #fff;
    }